.export-temp-4 {
  --base-color: #007e54;

  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    & > *:first-child {
      .md-keyword {
        padding-top: 0;
      }
    }

    h1 {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 48px;

      .h1-tips {
        font-size: 32px;
        font-weight: 400;
      }
    }

    h2 {
      margin-top: 80px;
      font-size: 40px;
      line-height: 48px;

      & + h3,
      & + h4 {
        margin-top: 8px;
      }
    }

    h3,
    h4 {
      margin-top: 56px;
      padding-bottom: 0;
      color: var(--base-color);
      font-size: 36px;
      line-height: 1.6;
    }

    .echarts-wrap {
      margin: 16px 0;
    }

    p {
      margin-bottom: 0;
    }

    ul,
    ol {
      margin-bottom: 0;
      li {
        list-style: none;
      }
      li + li {
        margin-top: 48px;
      }
    }

    p + p {
      margin-top: 8px;
    }

    table {
      width: 100%;
      margin-top: 16px;
      border-collapse: collapse;
      tr {
        th,
        td {
          text-align: left;
          border: 1px solid var(--border-color);
        }
        th {
          padding: 10px 16px;
          background-color: #f2f2f2;
          font-size: 28px;
          font-weight: 700;
        }
        td {
          padding: 8px 16px;
          background-color: transparent;
          font-size: 24px;
          line-height: 36px;
        }
      }
    }

    .keyword-footer {
      display: none;
    }
  }
}

.export-section-4 {
  .keyword-footer {
    display: none;
  }
}
