// 需求趋势分析

.export-temp-10 {
  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    & > *:first-child {
      .md-category {
        padding-top: 0;
      }
    }

    .root-word-table {
      .el-table {
        width: 880px !important;
        .el-table__header,
        .el-table__body {
          width: unset !important;
        }
      }
    }

    h1 {
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 48px;

      .h1-tips {
        font-size: 32px;
        font-weight: 400;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}
