// 客户需求分析

.export-temp-8 {
  --base-color: #007e54;

  .export-body {
    padding: 100px 100px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    & > *:first-child {
      margin-top: 0;
    }

    h1,
    h2,
    h3 {
      margin-top: 80px;
      padding-bottom: 80px;
      color: var(--base-color);

      font-family: Microsoft YaHei UI;
      font-size: 64px;
      font-weight: 700;
      line-height: 1;
      & + h4 {
        margin-top: 0;
      }
    }

    h4 {
      margin-top: 80px;
      color: var(--base-color);
    }

    ul,
    ol {
      li {
        list-style: none;
      }
    }

    table {
      width: 100%;
      margin-top: 16px;
      border-collapse: collapse;

      & + * {
        margin-top: 16px;
      }

      tr {
        th,
        td {
          text-align: left;
          border: 1px solid var(--border-color);
        }
        th {
          padding: 10px 16px;
          background-color: #f2f2f2;
          font-size: 28px;
          font-weight: 700;
        }
        td {
          padding: 8px 16px;
          background-color: transparent;
          font-size: 24px;
          line-height: 36px;
        }
      }
    }
  }
}
