// 需求趋势分析

.export-temp-11 {
  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    .shop-cate-table {
      .el-table {
        width: 880px !important;
        .el-table__header,
        .el-table__body {
          width: unset !important;
        }
      }
    }

    h1 {
      margin-bottom: 24px;
      font-size: 40px;
      line-height: 48px;

      .h1-tips {
        font-size: 32px;
        font-weight: 400;
      }
    }

    .xs-markdown-split {
      display: none !important;
    }

    h2,
    h4 {
      &:not(:first-child) {
        margin-top: 48px;
      }
      margin-bottom: 12px;
    }

    hr + h2 {
      margin-top: 0 !important;
    }
  }
}
