.export-temp-5 {
  --base-color: #007e54;

  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 32px;
    line-height: 1.6;

    & > pre:first-child {
      .md-shop {
        padding-top: 0;
      }
    }

    .pt-64 {
      padding-top: 64px;
    }

    h1 {
      margin-bottom: 16px;
      font-size: 56px;
      line-height: 84px;
    }

    h2 {
      margin-top: 116px;
      font-size: 48px;
      line-height: 60px;

      & + h3 {
        margin-top: 16px;
      }
    }

    h3 {
      margin-top: 116px;
      padding-bottom: 0;
      color: var(--base-color);
      font-size: 1em;
      line-height: 1.25;
    }

    h4 {
      margin-top: 48px;
    }

    .echarts-wrap {
      margin: 16px 0;
    }

    p {
      margin-bottom: 0;
    }

    ul,
    ol {
      margin-bottom: 0;
    }

    p + p {
      margin-top: 8px;
    }

    .md-store-rating {
      margin-top: 100px;
    }
  }
}

.export-section-5 {
  .md-shop {
    padding-top: 64px;
  }
  pre:first-child {
    .md-shop {
      padding-top: 0;
    }
  }
  .loadMore {
    display: none;
  }
}
