.export-temp-6 {
  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    & > *:first-child {
      .md-category {
        padding-top: 0;
      }
    }

    h1 {
      margin-bottom: 0;
      font-size: 40px;
      line-height: 48px;

      .h1-tips {
        font-size: 32px;
        font-weight: 400;
      }
    }

    p {
      margin-bottom: 0;
    }

    .keyword-footer {
      display: none;
    }
  }
}

.export-section-6 {
  .keyword-footer {
    display: none;
  }
}
