.export-temp-zip-14 {
  color: #333;

  .export-header,
  .export-footer {
    background: #bf0001;
  }

  .hot-product-images-item {
    max-height: 1200px;
    &:first-child {
      margin-top: 80px;
    }
    img {
      max-width: 100%;
      max-height: 1200px;
    }
  }

  --base-color: #007e54;

  .export-body {
    padding: 160px 100px 100px;
    word-break: break-all;
    font-size: 36px;
    line-height: 1.6;

    .page-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 60px;

      img {
        vertical-align: top;
      }

      .time {
        white-space: nowrap;
        color: var(--base-color);
        font-size: 40px;
        font-weight: 700;
      }
    }
    .page-foot {
      margin-top: 80px;
      text-align: center;
      img {
        vertical-align: top;
      }
    }

    .md-goods {
      margin-top: 40px;
    }
    h1 {
      margin-top: 80px;
      margin-bottom: 40px;
      color: #bf0001;
      font-size: 56px;
      line-height: 84px;
    }

    h2 {
      margin-top: 80px;
      font-size: 40px;
      line-height: 60px;

      & + h3 {
        margin-top: 16px;
      }
    }

    h3 {
      margin-top: 80px;
      padding-bottom: 0;
      color: var(--base-color);
      font-size: 1em;
      font-weight: 700;
      line-height: 1.25;
    }

    h4 {
      margin-top: 48px;
    }

    h2 + .title-tips,
    h1 + .title-tips {
      position: relative;
      top: -16px;
      color: var(--base-color);

      & + h2 {
        margin-top: 32px;
      }
    }

    .echarts-wrap {
      margin: 16px 0;
    }

    p {
      margin-bottom: 0;
    }

    ul,
    ol {
      margin-top: 0;
      margin-bottom: 0;
      li + li {
        margin-top: 16px;
      }
      li {
        width: 100%;
        min-width: 0;
        height: auto;
        list-style: none;
        white-space: normal;
        letter-spacing: 0.02em;
        word-break: break-all;
      }
    }

    p + p {
      margin-top: 20px;
    }
    & > p + ul,
    & > p + ol {
      margin-top: 40px;
    }
  }

  &.all-page {
    .export-body {
      padding: 80px 100px 100px;

      .hot-product-images-item {
        &:first-child {
          margin-top: 0;
        }
      }

      .page-header + * {
        margin-top: 0;
      }
    }
  }

  // 视频号
  &.export-temp-zip-sph {
    .export-body {
      height: 2341px;
      padding: 252px 100px 440px;

      .page-header-wrap {
        position: absolute;
        top: 160px;
        right: 100px;
        left: 100px;
      }

      &.heightAuto {
        height: auto;
      }

      .md-goods {
        margin-top: 148px;
      }

      .excellent-shop-distribution {
        margin-top: 56px;
      }

      h1 + pre {
        .md-goods {
          margin-top: 100px;
        }
      }

      h1 + * {
        margin-top: 48px;
      }

      & > pre:first-child {
        .md-goods {
          margin-top: 184px;
        }
      }

      .md-table .table-normal table {
        tbody tr td,
        thead tr th {
          font-size: 30px;
        }
      }
    }

    .export-header {
      .cover {
        height: 90%;
      }
    }
  }

  // 抖音
  &.export-temp-zip-dy {
    .export-header {
      .cover {
        height: 90%;
      }
    }
    .export-body {
      height: 2532px;
      padding: 397px 100px 440px;

      .page-header-wrap {
        position: absolute;
        top: 305px;
        right: 100px;
        left: 100px;
      }

      &.heightAuto {
        height: auto;
      }

      .md-goods {
        margin-top: 148px;
      }

      .excellent-shop-distribution {
        margin-top: 56px;
      }

      h1 + pre {
        .md-goods {
          margin-top: 100px;
        }
      }

      h1 + * {
        margin-top: 48px;
      }

      & > pre:first-child {
        .md-goods {
          margin-top: 184px;
        }
      }

      .md-table .table-normal table {
        tbody tr td,
        thead tr th {
          font-size: 30px;
        }
      }
    }
  }
}
