.export-temp-common {
  --base-color: #007e54;
  &.markdown-body {
    table {
      overflow: hidden;
      td:first-child {
        min-width: 160px;
      }
    }
  }

  .export-body {
    padding: 160px 100px;
    word-break: break-all;
    font-size: 32px;
    line-height: 1.6;

    a {
      color: var(--main-color);
    }

    .page-img-header {
      position: absolute;
      top: 56px;
      left: 88px;
      z-index: 10;
      width: 904px;
    }

    h1 {
      margin-top: 120px;
      font-size: 56px;
      line-height: 84px;

      & + h2 {
        margin-top: 32px;
      }

      & + h3 {
        margin-top: 16px;
      }

      .h1-tips {
        font-size: 32px;
        font-weight: 400;
      }
    }

    h2 {
      margin-top: 116px;
      padding-bottom: 16px;
      font-size: 48px;
      line-height: 72px;

      & + h3 {
        margin-top: 0;
      }
    }

    h3 {
      margin-top: 116px;
      padding-bottom: 0;
      color: var(--base-color);
      font-size: 1em;
      line-height: 1.5;

      & + pre {
        .md-table {
          margin-top: 16px;
        }
      }
    }

    h4 {
      margin-top: 48px;
    }

    h2 + .title-tips,
    h1 + .title-tips {
      position: relative;
      top: -16px;
      color: var(--base-color);

      & + h2 {
        margin-top: 32px;
      }
    }

    .echarts-wrap {
      margin: 16px 0;
    }

    p {
      margin-bottom: 0;
    }

    .address-show {
      margin-top: 24px;
      padding: 0 8px 8px;
      color: #000;
      font-family: "Microsoft YaHei UI", sans-serif;
      font-size: 32px;
      font-weight: 700;
      line-height: 56px;
    }

    .md-table .table-normal table tbody tr {
      background-color: transparent;

      td {
        background-color: transparent;
      }
    }

    .md-table .table-of-list table tbody tr {
      background-color: transparent;
    }

    ul,
    ol {
      margin-top: 8px;
      padding-left: 2em;
      li {
        line-height: 1.6;
      }
    }

    p + p {
      margin-top: 8px;
    }

    .md-store-rating {
      margin-top: 100px;
    }

    .md-tips {
      .line {
        display: none;
      }

      .export-tips {
        display: inline-block;
      }
    }

    .title-tips,
    h2 {
      & + pre {
        .md-goods {
          margin-top: 32px;
        }
      }
    }

    .md-goods {
      margin-top: 120px;
    }
  }

  div.page-split {
    width: 100%;
    height: 24px;
    background: #e6e7ea;
  }
}
