@font-face {
  font-family: "iconfont"; /* Project id 5008254 */
  src:
    url("iconfont.woff2?t=1766385609953") format("woff2"),
    url("iconfont.woff?t=1766385609953") format("woff"),
    url("iconfont.ttf?t=1766385609953") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fuwu:before {
  content: "\e64d";
}

.icon-guanliyuan:before {
  content: "\e64c";
}

.icon-jinggao1:before {
  content: "\e64b";
}

.icon-tupian:before {
  content: "\e640";
}

.icon-niantieshuju:before {
  content: "\e642";
}

.icon-zhengyan:before {
  content: "\e645";
}

.icon-xian:before {
  content: "\e648";
}

.icon-biyan:before {
  content: "\e649";
}

.icon-jianqu:before {
  content: "\e64a";
}

.icon-jinggao:before {
  content: "\e643";
}

.icon-huanyihuan1:before {
  content: "\e646";
}

.icon-suo-lvexiao1:before {
  content: "\e647";
}

.icon-bianji:before {
  content: "\e63f";
}

.icon-shanchu1:before {
  content: "\e641";
}

.icon-souxiangsi:before {
  content: "\e644";
}

.icon-moxing-lora:before {
  content: "\e63c";
}

.icon-faqixinduihua:before {
  content: "\e63d";
}

.icon-zhangshu:before {
  content: "\e63e";
}

.icon-dianshu:before {
  content: "\e63a";
}

.icon-fujian22:before {
  content: "\e63b";
}

.icon-shendusikao:before {
  content: "\e634";
}

.icon-gengduo:before {
  content: "\e635";
}

.icon-qiye:before {
  content: "\e636";
}

.icon-xiaofeijilu:before {
  content: "\e637";
}

.icon-yonghu:before {
  content: "\e638";
}

.icon-tuichu:before {
  content: "\e639";
}

.icon-fenlan:before {
  content: "\e631";
}

.icon-zhinengti:before {
  content: "\e62d";
}

.icon-duihua-1:before {
  content: "\e62e";
}

.icon-duihua:before {
  content: "\e62f";
}

.icon-lishijilusousuo:before {
  content: "\e630";
}

.icon-arrowUp:before {
  content: "\e737";
}

.icon-fold:before {
  content: "\e6241";
}

.icon-back:before {
  content: "\e6251";
}

.icon-time:before {
  content: "\e6f2";
}

.icon-shuaxin:before {
  content: "\e6231";
}

.icon-copy:before {
  content: "\e6511";
}

.icon-rightPlain:before {
  content: "\e7591";
}

.icon-checked:before {
  content: "\e7441";
}

.icon-add:before {
  content: "\e6e01";
}

.icon-cancel:before {
  content: "\e738";
}

.icon-search:before {
  content: "\e6df";
}

.icon-brain:before {
  content: "\e64f1";
}

.icon-more-copy:before {
  content: "\e7891";
}

.icon-arrowRight:before {
  content: "\e7481";
}

.icon-download:before {
  content: "\e73e1";
}

.icon-arrowDown:before {
  content: "\e7491";
}

.icon-arrow2Up:before {
  content: "\e73a1";
}

.icon-arrow2Down:before {
  content: "\e74c1";
}

.icon-up1:before {
  content: "\e64c1";
}

.icon-good:before {
  content: "\e64a1";
}

.icon-export:before {
  content: "\e6491";
}
