div.el-popper.el-dropdown__popper {
  padding: 0 4px;
  &.is-light {
    border-radius: 4px;
    border: 1px solid #d4dbe9;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(41, 104, 178, 0.1);
  }

  .el-dropdown-menu__item {
    border-radius: 4px;
    font-size: 14px;
    color: #000;
    font-family: "Source Han Sans CN", sans-serif;
    font-style: normal;
    font-weight: 400;
    position: relative;

    &:not(.is-disabled):hover {
      background: #eafaed;
    }
  }
}
