div.el-popper.el-dropdown__popper {
  padding: 0 4px;
  &.is-light {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background: var(--bg-app);
    box-shadow: var(--shadow-dropdown);
  }

  .el-dropdown-menu__item {
    border-radius: 4px;
    font-size: 14px;
    color: var(--text-normal-color);
    font-family: "Source Han Sans CN", sans-serif;
    font-style: normal;
    font-weight: 400;
    position: relative;

    &:not(.is-disabled):hover {
      background: var(--bg-highlight);
    }
  }
}
