%button-block {
  border: 1px solid var(--border-color);
  border-radius: 1px;
}

.el-pagination {
  --el-pagination-text-color: var(--text-normal-color);
  --el-text-color-regular: var(--text-normal-color);
  display: inline-flex;
  padding: 0;

  .el-pagination__sizes {
    .el-select {
      width: 105px;
    }
  }

  .el-select__wrapper {
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 8px;

    .el-select__placeholder {
      color: var(--text-normal-color);
      text-overflow: inherit;
      text-align: center;
    }

    &.is-hovering:not(.is-focused) {
      box-shadow: 0 0 0 1px var(--el-color-primary) inset;
    }
  }

  .btn-prev {
    @extend %button-block;
    // margin-right: 8px;
  }

  .btn-next {
    @extend %button-block;
    // margin-left: 8px;
  }

  .el-input {
    --el-input-text-color: var(--text-normal-color);
    font-size: 14px;
  }

  .el-select .el-input {
    width: 105px;
  }

  .el-pager {
    li {
      @extend %button-block;

      &:first-child {
        margin-left: 8px;
      }

      &:last-child {
        margin-right: 8px;
      }

      &.is-active {
        color: white;
        background-color: var(--main-color);
        border-color: var(--main-color);

        + li {
          border-left: 1px solid var(--border-color-light);
        }
      }

      & + li {
        margin-left: 8px;
      }
    }
  }

  .el-pagination__editor {
    border: 0;
    border-radius: unset;
  }

  .el-input__inner {
    // @extend %button-block;
    // box-shadow: none;
    --el-input-border-color: var(--border-color);
    --el-input-focus-border-color: var(--main-color);
    --el-input-hover-border-color: var(--main-color);
    --el-input-border-radius: 2px;
  }

  .el-pagination__sizes,
  .el-pagination__jump {
    .el-input__inner {
      border-radius: 2px;
    }
  }

  &.xs-mini {
    --mini-size: 28px;

    .el-pagination__total {
      margin-right: 8px;
    }
    .btn-prev,
    .btn-next {
      margin: 0;
    }

    .el-select {
      .el-select__wrapper {
        min-height: var(--mini-size);
        line-height: var(--mini-size);
        margin-top: -2px;
        margin-right: 10px;
        padding-left: 8px;
        //padding-right: 26px;
      }
    }

    .el-input {
      .el-input__wrapper {
        height: var(--mini-size);
        line-height: var(--mini-size);
        padding: 0;
      }
    }

    .el-pagination__editor.el-input {
      height: var(--mini-size);
      min-width: 44px;
      width: 44px;
    }

    .el-pager li {
      min-width: var(--mini-size);
      line-height: var(--mini-size);
      height: var(--mini-size);
      padding: 0;
      & + li,
      &:first-child {
        margin-left: 6px;
      }

      &:last-child {
        margin-right: 6px;
      }
    }

    .el-pagination__jump {
      .el-input__inner {
        height: var(--mini-size);
        line-height: var(--mini-size);
        width: 44px;
      }
    }

    span:not([class*="suffix"]),
    button {
      min-width: var(--mini-size);
      line-height: var(--mini-size);
      height: var(--mini-size);
      padding: 0;
    }
  }
}
