.sender-button,
.sender-button.el-button {
  position: relative;
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 29px;
  margin: 0;
  padding: 4px 8px;
  cursor: pointer;
  user-select: none;
  color: var(--text-normal-color);
  border: 1px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--bg-app);
  font-family: "Microsoft YaHei", "Source Han Sans CN", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;

  span {
    vertical-align: middle;
    line-height: 29px;
  }

  .sender-icon {
    margin-right: 4px;
    vertical-align: middle;
    line-height: 29px;
  }

  &:hover {
    color: var(--text-normal-color);
    border-color: var(--main-color);
    background-color: var(--bg-highlight);
    /* background-color: #e0f2e7; */
  }

  .iconfont {
    color: var(--text-normal-color);
    font-size: 16px;
  }

  &.is-checked {
    color: var(--main-color, #007e54);
    border-color: rgba(255, 255, 255, 0);
    background-color: var(--bg-highlight);

    .iconfont {
      color: var(--main-color, #007e54);
    }
  }

  &.is-disabled {
    color: var(--text-dblight-color);

    .iconfont {
      color: var(--text-dblight-color);
    }
  }

  &.is-loading {
    :deep(.el-icon) {
      margin-right: 0;

      & + span {
        margin-left: 0;
      }
    }
  }
}
